DEBUG = True
WTF_CSRF_ENABLED = False

UPLOAD_FOLDER ="/tmp/uploads"
SQLALCHEMY_DATABASE_URI = 'sqlite:////tmp/db.sqlite'

TOPOGRAM_ES_HOST='http://localhost:9200/'

SENDGRID_USERNAME = ""
SENDGRID_PASSWORD = ""

ELASTICSEARCH_URL="http://localhost:9200"

MONGO_URI = "mongodb://localhost:27017/topogram"

MAILGUN_KEY = "key-XXX"
MAILGUN_DOMAIN = "sandboxXXX.mailgun.org"
