<!DOCTYPE html>
<html>

    <head>
            <meta charset="utf-8" />
            <title>Topogram</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width">
            <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


            <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
            <!-- <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap-slider/slider.css"> -->
            <!-- <link rel="stylesheet" type="text/css" href="./css/theme.css"> -->
            <!-- <link rel="stylesheet" type="text/css" href="./css/styles.css"> -->
            <link rel="stylesheet" type="text/css" href="./css/main.css">
            <link rel="stylesheet" type="text/css" href="./css/sb-admin-2.css">
            <link rel="stylesheet" type="text/css" href="./css/slider.css">

            <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" type="text/css">

    </head>

    <body ng-app="Topogram" ng-controller="ApplicationCtrl">

        <header></header>
        <!-- <sidebar></sidebar>   -->

        <div id="page-wrapper">
            <!-- Subscribe to success flash messages. -->
            <div flash-alert="success" active-class="in alert" class="fade">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong class="alert-heading">Congrats!</strong>
                <span class="alert-message">{{flash.message}}</span>
            </div>

            <!-- Subscribe to error flash messages. -->
            <div flash-alert="error" active-class="in alert" class="fade">
                <strong class="alert-heading">Boo!</strong>
                <span class="alert-message">{{flash.message}}</span>
            </div>

        <div class="main-view">
 
            <div ng-view></div>
 
        </div><!-- /.container -->
 
        <!-- <div class="blog-footer">
            <p>Application built by <a href="https://twitter.com/clemsos">@clemsos</a> using Flask and AngularJS.</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </div> -->
    </div>

        <script type="text/javascript" src="./dist/angular.min.js"></script>
        <script type="text/javascript" src="./dist/jquery-bootstrap.min.js"></script>
        <script type="text/javascript" src="./dist/d3.min.js"></script>
        <script type="text/javascript" src="./dist/other-libs.min.js"></script>

        <script type="text/javascript" src="./dist/topogram.js"></script>


<!-- 
        <script type="text/javascript" src="./bower_components/angularjs/angular.js"></script>
        <script type="text/javascript" src="./bower_components/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="./bower_components/lodash/dist/lodash.js"></script>
        <script type="text/javascript" src="./bower_components/restangular/dist/restangular.js"></script>
        <script type="text/javascript" src="./bower_components/angular-local-storage/angular-local-storage.js"></script>
        <script type="text/javascript" src="./bower_components/angular-flash/dist/angular-flash.js"></script>
        <script type="text/javascript" src="./bower_components/angular-file-upload/angular-file-upload.js"></script>
        <script type="text/javascript" src="./bower_components/ng-table/ng-table.js"></script>
        <script type="text/javascript" src="./bower_components/elasticsearch/elasticsearch.js"></script>
        <script type="text/javascript" src="./bower_components/elasticsearch/elasticsearch.angular.js"></script>
        <script type="text/javascript" src="./bower_components/d3/d3.js"></script>
        <script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="./bower_components/bootstrap-slider/bootstrap-slider.js"></script>
        <script type="text/javascript" src="./bower_components/colorbrewer/colorbrewer.js"></script>
        <script type="text/javascript" src="./bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script type="text/javascript" src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="./bower_components/angular-bootstrap-slider/slider.js"></script>
        <script type="text/javascript" src="./bower_components/oclazyload/dist/ocLazyLoad.js"></script>
        <script type="text/javascript" src="./bower_components/simg/src/simg.js"></script>
        <script type="text/javascript" src="./bower_components/d3.layout.cloud/d3.layout.cloud.js"></script>
        <script type="text/javascript" src="./bower_components/metisMenu/dist/metisMenu.js"></script>
        <script type="text/javascript" src="./bower_components/socket.io-client/dist/socket.io.min.js"></script>

         <script type="text/javascript" src="./js/main.js"></script>
        <script type="text/javascript" src="./js/routes.js"></script>
        <script type="text/javascript" src="./js/controllers/HomeDetailCtrl.js"></script>
        <script type="text/javascript" src="./js/controllers/ApplicationCtrl.js"></script>
        <script type="text/javascript" src="./js/controllers/SessionCreateCtrl.js"></script>
        <script type="text/javascript" src="./js/controllers/SessionDestroyCtrl.js"></script>
        <script type="text/javascript" src="./js/controllers/UserCreateCtrl.js"></script>
        <script type="text/javascript" src="./js/controllers/DatasetCreateCtrl.js"></script>
        <script type="text/javascript" src="./js/controllers/DatasetViewCtrl.js"></script>
        <script type="text/javascript" src="./js/controllers/DatasetIndexCtrl.js"></script>
        <script type="text/javascript" src="./js/controllers/TopogramCreateCtrl.js"></script>
        <script type="text/javascript" src="./js/controllers/TopogramViewCtrl.js"></script>
        <script type="text/javascript" src="./js/controllers/TopogramIndexCtrl.js"></script>

        <script type="text/javascript" src="./js/factories/Session.js"></script>
        <script type="text/javascript" src="./js/factories/User.js"></script>
        <script type="text/javascript" src="./js/factories/Dataset.js"></script>

        <script type="text/javascript" src="./js/services/AuthService.js"></script>
        <script type="text/javascript" src="./js/services/SearchService.js"></script>
        <script type="text/javascript" src="./js/services/TopogramService.js"></script>
        <script type="text/javascript" src="./js/services/ConfigService.js"></script>
        <script type="text/javascript" src="./js/services/ModalService.js"></script>
        <script type="text/javascript" src="./js/services/SocketIOService.js"></script>

        <script type="text/javascript" src="./js/directives/match.js"></script>
        <script type="text/javascript" src="./js/directives/timeseries/timeseries.js"></script>
        <script type="text/javascript" src="./js/directives/timeSlider.js"></script>
        <script type="text/javascript" src="./js/directives/wordsGraph.js"></script>
        <script type="text/javascript" src="./js/directives/citationsGraph.js"></script>
        <script type="text/javascript" src="./js/directives/tagCloud.js"></script>

        <script type="text/javascript" src="./js/directives/header/header.js"></script>
        <script type="text/javascript" src="./js/directives/header/header-notification/header-notification.js"></script>
        <script type="text/javascript" src="./js/directives/sidebar/sidebar.js"></script> -->

        <!-- <script type="text/javascript" src="./js/others.js"></script> -->


    </body>
</html>
