<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <ul class="nav navbar-nav">
        <li>
            <a href="/" class="navbar-brand" ng-class="{active: isActive('/')}">Topogram <small><i>beta</i></small></a>
        </li>
<!--         <li ng-if="isLogged()">
            <a class="blog-nav-item" >Your Datasets</a>
        </li>
        <li ng-if="isLogged()">
            <a class="blog-nav-item" href="#/datasets/create"  ng-class="{active: isActive('/datasets/create')}">Upload a dataset</a>
        </li> -->
    </ul>
    
    <!-- /.navbar-header -->
    <header-notification></header-notification>
    
    <!-- <sidebar></sidebar> -->
</nav>
