<div class="page-header">
  <h3>Create Topogram <small>{{dataset.name}} - {{ dataset.filename}}</small></h3>
  <a href="" ng-click="saveTopogram()" role="button" class="btn btn-xs btn-primary"> Save Topogram  <i class="fa fa-plus-circle"></i></a>

</div>

<section id="timeseries" ng-hide="!timeData">

        <div class="form-group form-inline">
            <p>
            <span><strong>Time series</strong> Quantity of data over time</span>

              <select ng-selected="topogram.timeScale" ng-model="topogram.timeScale" class="form-control input-sm">
                <option value="day">Days</option>
                <option value="hour">Hours</option>
                <option value="minute">Minutes</option>
              </select>

              <a class="btn btn-sm btn-default" ng-click="getTimeSeries()">Update</a>
              <a class="btn btn-sm btn-default" ng-click="downloadTimeSeries()"><span class="glyphicon glyphicon-save"></span> Download as CSV</a>
              <a href="#" type="button" ng-click="saveTimeSeries(); $event.preventDefault()" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-save"></span> Save Image (Shift+T)</a>
        </div>
        <timeseries class="timeseries" ng-hide="!timeData" timeseries="" time-data="timeData" start="start" end="end"></timeseries>
</section>

<div class="main-controls row">
    <section  id="search"  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h4>Search
        <small>Find a specific words in the whole dataset</small>
      </h4>

      <p>Search for words</p>
      <form class="form-inline" ng-submit="search()" role="form">
          <input ng-model="topogram.searchTerm" type="search" name="title" class="form-control" ng-required='true'/>
          <button type="submit" class="btn btn-default">Get results</button>
          <p  class="help-block">Search specific words</p>
          <!-- <p class="help-block">Use operators AND, OR and quotes for more precise queries <a href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html" target="_blank">[help]</a></p> -->
      </form>
      <p class="well">Current search term : {{ topogram.searchTerm }}
      <b class="pull-right" ng-hide="searchResultsCount == 0">  {{ searchResultsCount}} results </b>
      <button class="btn btn-default btn-sm" ng-click="clearSearch()">Clear</button>
      </p>

    </section>

    <section  id="frequent-words" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

          <h4>Most frequent words
              <small>Display the most used  words in the dataset.</small>
          </h4>


          <form class="form-inline">
                <label>Word count : </label>
                <div class="form-group">
                  <a class="btn btn-default btn-xs" ng-click="topogram.frequent_words_limit = topogram.frequent_words_limit + 10">+</a>
                  <input type="text" class="form-control" ng-model="topogram.frequent_words_limit">
                  <a class="btn btn-default btn-xs" ng-click="topogram.frequent_words_limit = topogram.frequent_words_limit - 10">-</a>
                  <button class="btn btn-sm btn-default" ng-click="getMostFrequentWords()">Update</button>
                </div>
                <p class="help-block">Select the number of words you want.</p>
          </form>

          <p ng-hide="!frequentWords.length"><a href="#" type="button" ng-click='downloadAsCSV(topogram.frequentWords, "frequent_words"); $event.preventDefault()' class="btn-sm btn-default btn-save btn-save-png"><span class="glyphicon glyphicon-save"></span> Download as CSV</a></p>

          <div ng-hide="!topogram.frequentWords.length" id="frequent-words">
              <div style="height:250px; overflow:auto">
                  <table show-filter="true" class="table table-condensed">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Word</th>
                          <th>Count</th>
                          <th>Degree</th>
                          <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-style="topogram.stopwords.indexOf(word.word) == -1 ? { } : { 'color': '#CCC' }" ng-repeat="word in topogram.frequentWords">
                        <td>{{$index + 1}}</td>
                        <td>{{word.word }}</td>
                        <td>{{word.count }}</td>
                        <td>{{ getWordDegree(word.word) }} </td>
                        <td>
                              <a ng-hide="topogram.stopwords.indexOf(word.word) != -1" ng-click="addWord(word.word)" class="btn btn-xs">
                                Exclude <i class="fa fa-plus"></i>
                              </a>
                              <a disabled ng-hide="topogram.stopwords.indexOf(word.word) == -1" class="btn btn-xs">
                                Excluded
                              </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
    </section>

    <section  id="filter-words"  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h4>Exclude
        <small>Filter out specific words</small>
      </h4>

      <div class="active">
          <div class="form-inline">
                  <p>
                      Excluded Words <small>({{topogram.stopwords.length}})</small>
                  </p>
                  <input type="text" class="form-control" ng-model="addedStopWord" placeholder="Add stopword">
                  <a  type="submit" class="btn btn-default" ng-click="addWord(addedStopWord)">Add</a>
          </div>
      </div>

      <div>
          <p ng-hide="topogram.stopwords.length ==0" class="help-block"><em>Click on the word to remove it from the list.</em></p>
          <p>
            <a  title="remove {{stopword}} "ng-click="removeStopword(stopword)" class="btn btn-xl btn-default" ng-repeat="stopword in topogram.stopwords">
              {{ stopword }}
              <span>&times;</span>
            </a>
          </p>
      </div>
    </section>


</div>
<hr>

<section id="words" class="row">
    <h4>Semantic graph
        <small>Co-occurences of words in the datasets
            <a data-toggle="popover" popover-placement="bottom" popover-title="Help - Read the Semantic Graph" popover="
                    Stroke weight represents link intensity between 2 words.
                    Size represent the degree of each words.
                    Colors represent the degree of each words.
                    "  popover-append-to-body="true">
                    (How to read the graph)
            </a>

        <a href="#" type="button" ng-click="saveWords(); $event.preventDefault()" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-save"></span>Save (Shift+W)
        </a>

      </small>
    </h4>
    <span ng-hide="!wordsGraphTooBig" class="alert-danger" >
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        The graph is too big to be displayed. Please  adjust the minimum threshold for  words
    </span>

    <div class="row">
          <div class="col-xs-2 col-sm-2">
                <p ng-hide="!wordsGraphLoading" class="help-block">This operation make take some time. Thanks !</p>

                <p>Nodes count <small>({{topogram.nodes_count}})</small>
                    <a data-toggle="tooltip" tooltip-placement="right" tooltip="Total number of nodes in the graph." tooltip-append-to-body="true">
                            <i class="fa fa-question-circle"></i>
                    </a>
                </p>
                <div>
                    <div class="form-group">
                       <slider ng-model="topogram.nodes_count" min="0" step="10" max="1000" value="{{topogram.nodes_count}}" data-slider-orientation="horizontal" id="nodes_count"></slider>
                    </div>
                    <p>
                        Filter edges <small>({{ topogram.min_edge_weight }}) </small>
                     <a data-toggle="tooltip" tooltip-placement="right" tooltip="
                       Diplay only edges with a weight of more than this value. " tooltip-append-to-body="true">
                        <i class="fa fa-question-circle"></i>
                       </a>
                      </p>
                    <div class="form-group">
                      <slider ng-model="topogram.min_edge_weight" min="0" step="10" max="1000" value="{{topogram.min_edge_weight}}" data-slider-orientation="horizontal" id="min_edge_weight"></slider>
                    </div>
                    <div  class="form-group">
                        <button ng-click="getWordsGraph()" ng-disabled="wordsGraphLoading"  class="btn btn-sm btn-primary">Refresh Graph</button>
                        <img ng-hide="!wordsGraphLoading" src="/img/circle-loader.gif" alt="">
                    </div>
                </div>

                <hr>
                <b>Display options</b>
                <a ng-click="wordsForceStarted = !wordsForceStarted"class="btn btn-default btn-sm">
                      <i class="fa fa-{{ (wordsForceStarted)? 'stop' : 'play' }}"></i>
                      {{ (wordsForceStarted)? "Stop" : "Start" }} graph
                  </a>
                <div  class="form-group row" style="display:none">
                  <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                          <a data-toggle="popover" tooltip-placement="bottom" tooltip="
                        Median distance beween the nodes" >
                          <label for="words-graph-link-distance">Link
                          </label>
                        </a>

                        <slider ng-model="topogram.wordsGraph.linkDistance" min="0" step="10" max="500" value="{{topogram.wordsGraph.linkDistance}}" data-slider-orientation="vertical" id="wordsGraph"></slider>
                  </div>
                  <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <a data-toggle="popover" tooltip-placement="right" tooltip="
                        A negative value results in node repulsion, while a positive value results in node attraction. " tooltip-append-to-body="true">
                          <label for="words-graph-charge">Charge
                          </label>
                      </a>
                        <slider ng-model="topogram.wordsGraph.charge" min="-2000" step="25" max="2000" value="{{topogram.wordsGraph.charge}}" data-slider-orientation="vertical" id="wordsGraph"></slider>
                  </div>
                  <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <a data-toggle="popover" tooltip-placement="right" tooltip="
                       Near the center of the layout, the gravitational strength is almost zero. The gravitational strength becomes stronger in linear proportion to the distance.. " tooltip-append-to-body="true">
                        <label for="words-graph-link-distance">Gravity
                        </label>
                    </a>
                        <slider ng-model="topogram.wordsGraph.gravity" min="0" step=".1" max="10" value="{{topogram.wordsGraph.gravity}}" data-slider-orientation="vertical" id="wordsGraph"></slider>
                  </div>
                </div>
          </div>
          <div class="col-xs-10 col-sm-10">
                <words words=""
                    words-graph="topogram.wordsGraph.data"
                    words-force-started="wordsForceStarted"
                    link-distance="topogram.wordsGraph.linkDistance"
                    charge="topogram.wordsGraph.charge"
                    gravity="topogram.wordsGraph.gravity"
                    start="start"
                    end="end"
                    class="words-container"
                  >
                </words>

          </div>
    </div>
</section>
<hr>
<section ng-hide="" class="recipe">
    <h4>Messages <small> {{ dataset.size }} results  from the datasets</small></h4>

    <ul class="pagination">
        <p><li data-ng-click="getPrevRecords()"><a>&laquo;</a></li>
        <!-- <li data-ng-click="changePage(page.pageOffset)" data-ng-repeat="page in pageObjs"><a>{{page.pageNumber + 1}}</a>
        </li> -->
        <li><a href="">Records {{recordOffset}} to {{recordOffset + recordStep }}</a> </li>
        <li data-ng-click="getNextRecords()"><a>&raquo;</a></li>
        </p>
    </ul>

    <ul class="pagination">
        <li ng-repeat="column in columns"  href="" ng-click="sortMessagesBy(column)" ng-class="{'active': sortMessages.column == column}">
          <a class="btn btn-default"  ng-class="{ 'dropup' : sortMessages.order == -1 } ">
              {{column}}
              <span class="caret"></span>
              </span>
            </a>
        </li>
        <li><a href="" ng-click="sortMessagesBy(null)">Clear</a></li>
      </ul>

    <div class="messages" ng-hide="!messages.length" style="height:500px; overflow:auto;">
          <table  class="table table-condensed">
            <thead>
              <tr>
              <th>Index</th>
                <th ng-repeat="column in columns" class="text-center sortable"
                >  {{column }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in messages">
            <td>{{$index}}</td>
              <td ng-repeat="column in columns" tooltip-append-to-body="true">
                {{row[column] }}
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <div ng-cloak="" ng-hide="allResults" class="load-more"><a ng-click="loadMore()" class="btn btn-default">View more results...</a></div> -->
      </div>
</section>


<!--
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="active">
          <div class="form-inline">
                  <h4>
                      Included Words<small>({{topogram.includeWords.length}})</small>
                  </h4>

                  <input type="text" class="form-control" ng-model="addedStopWord" placeholder="Add stopword">
                  <a  type="submit" class="btn btn-default" ng-click="addWord()">Add</a>
          </div>
          <p class="help-block">Those words will be ignored</p>
          <p><span class="badge"ng-repeat="stopword in topogram.stopwords">{{ stopword }}</span></p>
      </div>
  </div>
</section> -->

<!--     <div class="form-group" >
        <h4>Maximum Citations <small>({{topogram.citations_limit}})</small>  </h4>
        <slider ng-model="topogram.citations_limit" min="0" step="1" max="50" data-slider-orientation="horizontal" id="citationsLimit"></slider>
        <p class="help-block">Maximum number of citations in the graph.</p>
    </div>
 -->

<!--
      <div ng-hide="loadingNetworks.percent==0 || loadingNetworks.percent==100">
            <p>Now processing...</p>
            <progressbar class="progress-striped active" max="100" value=" loadingNetworks.percent" type="danger"><i>{{ loadingNetworks.current}} / {{ totalResults}}</i></progressbar>
      </div>

      <div class="col-md-6 utils form-group" ng-hide="!readyToSave">
              <label for="inputDesc">Description</label>
              <textarea id="inputDesc" ng-model="description" placeholder="What is this visualization about?" rows="3" class="form-control"></textarea>
              <div class="modal-footer">
                <button type="button" class="btn btn-default">Cancel</button>
                <a type="submit" ng-click="saveTopogram()" class="btn btn-primary">Save</a>
              </div>
      </div>
  </div> -->

  <!-- <section class="results"> -->
    <!-- <h3 ng-hide="messages.length" class="no-recipes">No results</h3> -->

  <!-- </section> -->
