
<h3>Topogram #{{ topogram.id }} <small> Query :  {{topogram.es_query}} | {{ totalResults }} results </small></h3>

<section id="headers">
    <p>Source : <a href="#/dataset/{{ topogram.dataset.id }}">{{ topogram.dataset.title}}</a> {{topogram.dataset.description}}  | Created at {{topogram.created_at | date:'MM/dd/yyyy - h:mma'}} | Search index : <a href="#" title="{{topogram.es_index_name}}">active</a> | <a target="_blank" ng-click="downloadAsCSV()"> download</a></p>
</section>

<section id="timeseries">
  <timeserie timeserie="" time-data="timeData" start="start" end="end" topogram-name="searchTerm"></timeserie>

</section>

<section id="words" class="row">

    <div class="col-xs-3 col-sm-3">

        <div class="well">
              <h4>Semantic graph  <small><a data-toggle="popover" popover-placement="right" popover-title="Help - Read the Semantic Graph" tooltip-html-unsafe="true" popover="
              Stroke weight represents link intensity between 2 words.
              Size represent the degree of each words.
              Colors represent the degree of each words.
              "  popover-append-to-body="true">Help</a></small></h4>

              <p class="help-block">This graph represents the co-occurence of words quoted in the corpus.</p>

              <p><a href="#" type="button" ng-click="saveWords(); $event.preventDefault()" class="btn-sm btn-primary btn-save btn-save-png"><span class="glyphicon glyphicon-save"></span>Save</a>   or hit <small> Shift+W</small></p>
        </div>
        <h5>Most connected words</h5>
        <a class="btn btn-xs" ng-click="prevTopWords()"><< prev</a> 
        {{ wordsListStart }} | {{wordsListEnd}}<a class="btn btn-xs" ng-click="nextTopWords()">next >></a>
        <table show-filter="true" class="table table-condensed">
        <thead>
          <tr>
            <th>Word</th>
            <th>Degree</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-style="{color: wordColors(row.degree)}" ng-repeat="row in words.top_words.slice(wordsListStart,wordsListEnd)">
          <td>{{row.node }}</td>
          <td>{{row.degree }}</td>
        </tr>
      </tbody>
    </table>
    </div>

    <div class="col-xs-9 col-sm-9">
          <words start="start" end="end" class="words-container"></words>
    </div>

</section>


<section class="messages">
      <h3>Conversation</h3>
      <ul>
        <li ng-repeat="col in stats.addCols"> {{col.percentNotNull | round:2 }}% of the total corpus has not null {{ col.name}} ( total : {{ col.total}})</li>
      </ul>
      <p><strong>Page:</strong> {{tableParams.page()}} ({{tableParams.count()}} results per page )</p> 

      <table ng-table="tableParams" show-filter="true" class="table table-condensed" template-pagination="custom/pager">
        <thead>
          <tr>
             <th ng-repeat="column in columns" class="text-center sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                    'sort-desc': tableParams.isSortBy(column.field, 'desc')
                  }"
                ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
                {{column.title}}
            </th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in $data">
            <td ng-repeat="column in columns" sortable="'column.field'">
                {{row[column.field]}}
            </td>
        </tr>
    </table>

    <script type="text/ng-template" id="custom/pager">
        <ul class="pager ng-cloak">
            <li ng-repeat="page in pages" 
                  ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                  ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
              <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
              <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
            </li>
            <li> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                <button type="button" ng-class="{'active':params.count() == 500}" ng-click="params.count(500)" class="btn btn-default">500</button>
            </div>
            </li>
        </ul>
    </script>
  </section>


<!-- <div class="row">
  <div class="col-xs-9 col-sm-9">
    <citations start="start" end="end" class="words-container"></citations>
  </div>

  <div class="col-xs-3 col-sm-3"><a type="button" ng-click="saveCitations(); $event.preventDefault()" class="btn-sm btn-default btn-save btn-save-png"><span class="glyphicon glyphicon-save"></span>Save</a>
    <p><small>Hit Shift+C to save</small></p>
  </div>
</div> -->


<!-- <div id="timeline" u="" class="row well">
  <timeslider id="time-slider" model="timeframe" type="text" data-slider-min="0" data-slider-step="1" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show"></timeslider>
  <div timeserie="" time-data="timeSeriesData" start="start" end="end" topogram-name="topogramName" class="time-container"></div>
  <p><a href="#" ng-click="playAll(); $event.preventDefault()" class="btn btn-default"><span class="glyphicon glyphicon-play"></span>Play</a><a href="#" ng-click="stop(); $event.preventDefault()" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span>Stop</a><b>Start: {{start | date:'medium'}}</b><b>End: {{end | date:'medium'}}</b></p>
</div>
 -->

<!--     <section id="words" class="row" ng-hide="!messages.length">
      <div class="col-xs-9 col-sm-9">
      <div class="loader" ng-hide="words.index.length"></div>
        <words class="words-container"></words>
      </div>
      <div class="col-xs-3 col-sm-3"><a type="button" ng-click="saveWords(); $event.preventDefault()" class="btn-sm btn-default btn-save btn-save-png"><span class="glyphicon glyphicon-save"></span>Save</a>
        <p><small>Hit Shift+W to save</small></p>
        <div class="wordpie-container"></div>
      </div>
    </section> -->

<!--     <section class="row"  ng-hide="!messages.length">

      <div class="col-xs-9 col-sm-9">
        <div class="loader" ng-hide="citations.index.length"></div>
        <citations class="citations-container"></citations>
      </div>

      <div class="col-xs-3 col-sm-3"><a type="button" ng-click="saveCitations(); $event.preventDefault()" class="btn-sm btn-default btn-save btn-save-png"><span class="glyphicon glyphicon-save"></span>Save</a>
        <p><small>Hit Shift+C to save</small></p>
      </div>
    </section>
     -->
