<h1>Change Password</h1>
<form ng-submit="submitNewPasswordForm()" role="form" class="form-horizontal" name="resetPasswordFrom" novalidate>
  <div class="form-group" data-ng-class="( resetPasswordFrom.email.$dirty ? (resetPasswordFrom.email.$valid ? 'has-success has-feedback' : 'has-error has-feedback' ) : ' ')">
    <label for="inputEmail" class="col-sm-4 control-label">Email</label>
    <div class="col-sm-4">
      <input id="inputEmail" name="email" type="email" placeholder="Email" ng-model="newPasswordInfo.email" class="form-control" required="true"/>
      <span ng-show="resetPasswordFrom.email.$error.email && resetPasswordFrom.email.$dirty" class="bg-danger pad">Please enter valid email.</span>
      <span class="help-block" data-ng-show="resetPasswordFrom.email.$error.required && resetPasswordFrom.email.$dirty">This is required.</span></div>
      <span ng-if='resetPasswordFrom.email.$valid' class="glyphicon glyphicon-ok form-control-feedback"></span>
    </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-10">
      <button type="submit" class="btn btn-default">Get New Password</button>
    </div>
  </div>
</form>
