<h1>{{topogram.dataset.title}} <small>{{topogram.dataset.description}}</small></h1>

<section class="row">
  <div class="col-md-4">
    <dl class="dl-horizontal">
      <dt>Data source</dt>
      <dd><a href="#/dataset/{{ topogram.dataset.id }}">{{ topogram.dataset.title}}</a></dd>
      <dt>Data type</dt>
      <dd>{{topogram.dataset.type}}</dd>
      <dt>Creation date</dt>
      <dd>{{topogram.created_at | date:medium}}</dd>
      <dt>Search query</dt>
      <dd>{{topogram.es_query}} in {{topogram.es_index_name}}</dd>
      <dt>Messages Count</dt>
      <dd>{{topogram.records_count}} messages</dd>
      <dt>Timeframe Count</dt>
      <dd>{{timeframes.length}} timeframes</dd>
    </dl>
  </div>
  <div class="col-md-4">
    <div ng-if="topogram.records_count == 0">
      <button ng-click="getData(&quot;mongo&quot;)" class="btn btn-primary">Extract data</button>
    </div>
    <div ng-if="topogram.messages != 0">
      <p></p><a target="_blank" href="/api/topogram/{{post._id}}/download.csv" download="{{post.name}}.csv" class="btn btn-default" disabled> Download search as CSV</a>
    </div>
  </div>

</section>


<div class="row">
  <div class="col-xs-9 col-sm-9">
    <words start="start" end="end" class="words-container"></words>
  </div>
  <div class="col-xs-3 col-sm-3"><a type="button" ng-click="saveWords(); $event.preventDefault()" class="btn-sm btn-default btn-save btn-save-png"><span class="glyphicon glyphicon-save"></span>Save</a>
    <p><small>Hit Shift+W to save</small></p>
    <div class="wordpie-container"></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-9 col-sm-9">
    <citations start="start" end="end" class="words-container"></citations>
  </div>

  <div class="col-xs-3 col-sm-3"><a type="button" ng-click="saveCitations(); $event.preventDefault()" class="btn-sm btn-default btn-save btn-save-png"><span class="glyphicon glyphicon-save"></span>Save</a>
    <p><small>Hit Shift+C to save</small></p>
    <!-- <div class="pie-container"></div> -->
  </div>
</div>


<div id="timeline" u="" class="row well">
  <timeslider id="time-slider" model="timeframe" type="text" data-slider-min="0" data-slider-step="1" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="show"></timeslider>
  <div timeserie="" time-data="timeSeriesData" start="start" end="end" topogram-name="topogramName" class="time-container"></div>
  <p><a href="#" ng-click="playAll(); $event.preventDefault()" class="btn btn-default"><span class="glyphicon glyphicon-play"></span>Play</a><a href="#" ng-click="stop(); $event.preventDefault()" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span>Stop</a><b>Start: {{start | date:'medium'}}</b><b>End: {{end | date:'medium'}}</b></p>
</div>

